body{
    background-color: #dbffa0;
}

li {color: rgb(112, 112, 112);
    font-size: 29px;
}
h2 {
    font-family:sans-serif;
    color:rgb(64, 172, 15);
}
h1{font-size: 30px;
color: red;
font-family: cursive;
}

